<% if logged_in? %>    
	<div class="row">
		<aside class="col-md-4">
			<section class="user_info">
				<%= render 'shared/user_info' %>
			</section>
			<section class="stats">
				<%= render 'shared/stats' %>
			</section>
		    <section class="recipe_form">
				<%= render 'shared/recipe_form' %>
			</section>
		</aside>
		<!-- inizio codice per il feed -->
		<div class="col-md-8">
			<h3>Recipe Feed</h3>
			<%= render 'shared/feed' %>
		</div>
		<!-- finecodice per il feed -->
	</div>
	
<% else %>
	<div class="center jumbotron">      <!-- classe specifica per Bootstrap -->
		<h1>Welcome to the Recipely!</h1>
		<h2>
			This is where you can find the best recipes!
		</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>        <!-- classi specifice per Bootstrap -->
	</div>
	<%=  image_tag("mario.png", alt: "Rails logo") %>  
	<!-- sta roba l'ho lasciata solo come esempio, mette l'immagine di SuperMario nella home come link cliccabile, l'immagine sta in assets/images -->

<% end %>
