<% provide(:title, 'Reset password') %>
<h1>Reset password</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
			<%= render 'shared/error_messages' %>
			
			<%= hidden_field_tag :email, @user.email %>
			<!-- campo nascoto, ossia non è visibile nella pagina ma è presente, quindi verrà inviato insieme alle altre info della form
			questo serve poichè abbiamo pianificato di reperire l’utente mediante indirizzo
            email, il che significa che è necessario il suo valore value in entrambe
			le azioni edit e update . La email verrà resa automaticamente disponibile
			nell’azione edit per la sua presenza nel link qui sopra, ma dopo che avremo
			trasmesso il form il suo valore andrà perso -->
			
			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>
			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>
			<%= f.submit "Update password", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
