<% provide(:title, "Edit recipe") %>
<h1>Update your recipe</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@recipe) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :title %>
			<%= f.text_field :title, class: 'form-control' %>   <%# form-control classe specifica per Bootstrap %>
			
			<%= f.label :content %>
			<%= f.text_field :content, class: 'form-control' %>
			
			
			<%= f.label :category %>
			<%= f.select :category, options_for_select([ "primo", "secondo", "contorno", "dessert"]), :class => 'form-control' %>
			
			<%= f.label :extimated_time %>
			<%= f.number_field :time, class: 'form-control' %>
			
			<%= f.label :difficulty %>
			<%= f.select :rate, options_for_select([ 1, 2, 3, 4,5]), :class => 'form-control' %>
			<%= f.submit "Save changes", class: "btn btn-primary" %>
			<span class="picture"> <%# aggiungo il campo per l immagine %>
				<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %> <%# client side image validator format %>
			</span>
		<% end %>
<%# jquery per alert quando l immagine è troppo grande senza sprecare risorse nel lato database %>
<script type="text/javascript">
  $('#recipe_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
