<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>





<!-- user content -->
<div class="w3-content" style="max-width:1100px">
      <h1 class="w3-center"><%= link_to gravatar_for(@recipe.user, size: 50), @recipe.user %><%= link_to @recipe.user.name, @recipe.user %></h1><br>
</div>

  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
		
      <h1 class="w3-center"><%=  @recipe.title.capitalize %> </h1><br>
      <h4>Description</h4>
      <p class="w3-text-grey"><%=  @recipe.content %></p><br>
    
      <h4>Rate</h4>
      <p class="w3-text-grey"><%=  @recipe.rate %></p><br>
    
      <h4>Time</h4>
      <p class="w3-text-grey">
    	<% if not  @recipe.time.blank?  %>
			<%= pluralize(@recipe.time, "minute") %>.
		<% else %>
			Non fonito
		<% end %>
	</p><br>
    
      <h4>Category</h4>
      <p class="w3-text-grey"><%=  @recipe.category %></p><br>
    
   
    </div>
    
    <div class="w3-col l6 w3-padding-large">
		
      <%= image_tag( @recipe.picture.url , :class => "w3-round w3-image w3-opacity-min" , :width => "500", :height => "750") if @recipe.picture?  %>
    </div>
  </div> 
  


  <hr>

  <span class="timestamp">
    Posted <%= time_ago_in_words(@recipe.created_at) %> ago.
  </span>
	<% if current_user?(@recipe.user) %>
	 <div >
		<%= link_to "delete", @recipe, method: :delete,
                                  data: { confirm: "You sure?" },class: "btn btn-lg btn-primary" %>
	<%= link_to "update", edit_recipe_path(@recipe.id),
                                  data: { confirm: "You sure?" },class: "btn btn-lg btn-primary" %>
	
	</div>
    <% end %>
    
    <br/>
    <br/>
    <br/>

    
     <%= render 'shared/comments' %>    <!-- mostra i commenti alla ricetta -->
	
    <br/>
    <br/>
    
    <% if logged_in? %>
    	<%= render 'shared/comment_form' %>  <!-- forma per commentare una ricetta -->
	<% end %>

<!-- End page content -->
</div>



</body>
</html>

