<ol class="recipes">
<li id="recipe-<%= @recipe.id %>">
  <%= link_to gravatar_for(@recipe.user, size: 50), @recipe.user %>
  <span class="user"><%= link_to @recipe.user.name, @recipe.user %></span>
  <span class="title"><%= @recipe.title %></span>
  <span class="content"><%= @recipe.content %></span>
  <span class="rate">Difficolta:<%= @recipe.rate %></span>
  <span class="category">Category:<%= @recipe.category %></span>
  <%= image_tag @recipe.picture.url if @recipe.picture? %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@recipe.created_at) %> ago.
	<% if current_user?(@recipe.user) %>
	 <div >
		<%= link_to "delete", @recipe, method: :delete,
                                  data: { confirm: "You sure?" },class: "btn btn-lg btn-primary" %>
	<%= link_to "update", edit_recipe_path(@recipe.id),
                                  data: { confirm: "You sure?" },class: "btn btn-lg btn-primary" %>
	
	</div>
    <% end %>
 
  </span>
  
</li>
</ol>

