
<%# pagine per l'index delle notifiche scritta identica a quella per l'index degli utenti %>

<% provide(:title, 'All Notifications') %>
<h1>All Notifications</h1>

<%= will_paginate %> 
<ul class="users">
	
<% @notifications.order('created_at DESC').each do |notif| %>
	<% if notif.type_not=="following" %>
		<%= render 'shared/notification_following', :notif => notif %>
	<% elsif notif.type_not=="comment" %>
		<%= render 'shared/notification_comment', :notif => notif %>
	<% elsif notif.type_not=="doneit" %>
		<%= render 'shared/notification_doneit', :notif => notif %>
	<% elsif notif.type_not=="rating" %>
		<%= render 'shared/notification_rating', :notif => notif %>
	<% elsif notif.type_not=="badge" %>
		<%= render 'shared/notification_badge', :notif => notif %>
	<% elsif notif.type_not=="event" %>
		<%= render 'shared/notification_event', :notif => notif %>
	<% else %>  <!-- è un like -->
		<%= render 'shared/notification_like', :notif => notif %>
	<% end %>  <%# end del ciclo sulle notifiche %>
<% end %>
</ul>

<%= will_paginate %> 

