<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>    <!-- gli passo @user creatore nella new del controller, la form mi riempie le info di quell'utente-->
			 <%= render 'shared/error_messages', object: f.object %>   <!-- partial definito in views/shared -->
			
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>   <!-- form-control classe specifica per Bootstrap -->
			<%= f.label :email %>
			<%= f.text_field :email, class: 'form-control' %>
			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>
			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>
			<%= f.submit "Create my account", class: "btn btn-primary" %>
		<% end %>
	</div>
	
	<%= link_to 'Sign up with Facebook', '/auth/facebook', class: "btn btn-lg btn-primary" %>        
	<%= link_to 'Sign up with Google+', '/auth/google_oauth2', class: "btn btn-lg btn-primary" %>  
	
</div>
