<h1>New Comment</h1>

<div class="row">
<div class="col-xs-12">
  <%= form_for(@recipe.comments.build, :html => {class: "form-horizontal", role: "form"} ) do |f| %>	
	
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <div class="control-label col-sm-2">
    </div>

    <div class="col-sm-8">
      <%= f.text_area :content, rows: 3, class: "form-control", placeholder: "Please enter a comment", autofocus: true %>
    </div>
  </div>


  <%= hidden_field_tag :recipe_id, @recipe.id %>     <!--passo alla create l'id della ricetta come parametro nascosto -->

  <div class="form-group">
    <div class="center col-sm-offset-1 col-sm-10">
      <%= f.submit class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>



