<div id="com">
<FONT SIZE="6" COLOR="#FFA500"> <%= pluralize(@event.guests.count, "Guest") %> </FONT>

<% if current_user?(@event.user) %>
	 <%= link_to "Add guests", new_invitation_path(:event_id => @event.id), data: { confirm: "You sure?" }%>
<% end %>


<br/>
<br/>
<div class="box">
<br/>
<% @event.guests.each do |guest| %>
	<li  class="padded" >
	<%= gravatar_for guest, size: 50 %>
	<font color="#0000FF"> <%= link_to guest.name, user_path(guest.id) %> </font> 
	

	
	<% if current_user?(@event.user) %>
		| <%= link_to "Cancel the invitation", guest.invitations.find_by(event_id: @event.id), method: :delete,data: { confirm: "You sure?" }, remote: true %>
	<% end %>
	
	<br/>
	<%= guest.invitations.find_by(event_id: @event.id).status %>
	
	</li>
	
		
	<hr style="border: 1px solid " ></hr>
	
	
<% end %>

</div>
</div>
