<div id="ingredient_form">
	
<h1 >New ingredient</h1>
<div class="row">
<div class="col-xs-12">
  <%= form_for(@recipe.nutrients.build, :html => {class: "form-horizontal", role: "form"}, local: true,remote: true ) do |f| %>	
	
  

  <div class="form-group">
    <div class="control-label col-sm-2">
    </div>

    <div class="col-sm-8">
    
	  <%= f.label :Ingredient %>
      <%= f.text_area :ingredient_id, rows: 3, class: "form-control", placeholder: "Please enter an ingredient" ,id: "ingredient"%>
		

    </div>
  </div>


  <%= hidden_field_tag :recipe_id, @recipe.id %>     <!--passo alla create l'id della ricetta come parametro nascosto -->

  <div class="form-group">
    <div class="center col-sm-offset-1 col-sm-10">
     <%= f.submit class: 'btn btn-primary', value: 'Add Ingredient' %>
    </div>
  </div>
<% end %>


</div>
</div>

