  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
		
      <h1 class="w3-center"><%=  @event.title.capitalize %> </h1><br>
      
      <FONT color="green" size="6">Created by <%=  @event.user.name.capitalize %> </FONT>
      <br/><br/>
      
      <h4>Description:</h4>
      <p class="w3-text-grey"><%=  @event.content %></p><br>

    
      <h4>Date:</h4>
      <p class="w3-text-grey"><%=  @event.data_ev %></p><br>
      
      
      
      
	<%= render 'shared/menu' %>      
    
    <%= render 'shared/meteo' %> 
	
	<%= render 'shared/guests' %> 

	<br/> 
    <br/>
    
    <% if current_user %>

		<% if current_user==@event.user || current_user.admin? %>
		 <div >
			<%= link_to "Delete", @event, method: :delete,
									  data: { confirm: "You sure?" },class: "btn btn-lg btn-primary" %>
		
		<% end %>
		
	<% end %>
	
	
	<% if current_user?(@event.user) %>
		<%= link_to "Update", edit_event_path(@event.id),
                                  data: { confirm: "You sure?" },class: "btn btn-lg btn-primary" %>

    <% end %>
    
</div>





