  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
		
      <h1 class="w3-center"><%=  @event.title.capitalize %> </h1><br>
      
      <FONT color="green" size="6">Created by <%=  @event.user.name.capitalize %> </FONT>
      <br/><br/>
      
      <h4>Description:</h4>
      <p class="w3-text-grey"><%=  @event.content %></p><br>

    
      <h4>Date:</h4>
      <p class="w3-text-grey"><%=  @event.data_ev %></p><br>
      
      
      
      
      
      
     <h4>Menù:</h4><br/>
		<% if @event.menu %>
     
			 Primo:<h4>
			 <% if @event.menu.primo%> 
				<%= link_to @event.menu.primo.title, recipe_path(@event.menu.primo) %>
			 <% else %> Nothing
			 <% end %> </h4>
			 <br/>
			 
			 
			 Secondo:<h4> 
			 <% if @event.menu.secondo%> 
				<%= link_to @event.menu.secondo.title, recipe_path(@event.menu.secondo) %>
			 <% else %> Nothing
			 <% end %></h4>
			 <br/>
			 
			 Contorno:<h4>
			 <% if @event.menu.contorno%> 
				<%= link_to @event.menu.contorno.title, recipe_path(@event.menu.contorno) %>
			 <% else %> Nothing
			 <% end %> </h4>
			 <br/>
			 
			 Dessert:<h4> 
			 <% if @event.menu.dessert%> 
				<%= link_to @event.menu.dessert.title, recipe_path(@event.menu.dessert) %>
			 <% else %> Nothing 
			 <% end %>  </h4>
			 <br/>
		 
		 <% else %>
			<h4>The menù has not been created</h4> <br/>
		 <% end %>
		 
	<% if current_user?(@event.user) %>
		<%= link_to "Update menu", edit_menu_path(@event.id),
                                  data: { confirm: "You sure?" },class: "btn btn-lg btn-primary" %>

    <% end %>
		 
		 
		 
    <hr/>
		 

     
    <h4>Location:
    <p class="w3-text-grey"><%=  @event.location %></p><br> </h4>
    
    <% if @meteo['error']%>
		Weather not available for this city
	<% else %>
		<FONT SIZE="4" COLOR="blue"> Today's weather</FONT>
		<%= image_tag(@meteo['current']['condition']['icon'], :class => "w3-round w3-image w3-opacity-min" , :width => "100", :height => "100") %><br/>
		Condition: <%= @meteo['current']['condition']['text'] %> <br/>
		Temperature(C): <%= @meteo['current']['temp_c'] %><br/>
		Humidity: <%= @meteo['current']['humidity'] %><br/>
		Cloud:  <%= @meteo['current']['cloud'] %>

		<br/>
		<br/>
		<%= link_to "See 7 days weather", weather_path(@event) %>
		
	<% end %>
	<br/>
	<br/>
	<br/>
	
	
	<%= render 'shared/guests' %> 

	<br/> 
    <br/>
    
    <% if current_user %>

		<% if current_user==@event.user || current_user.admin? %>
		 <div >
			<%= link_to "Delete", @event, method: :delete,
									  data: { confirm: "You sure?" },class: "btn btn-lg btn-primary" %>
		
		<% end %>
		
	<% end %>
	
	
	<% if current_user?(@event.user) %>
		<%= link_to "Update", edit_event_path(@event.id),
                                  data: { confirm: "You sure?" },class: "btn btn-lg btn-primary" %>

    <% end %>
    
    
    <!-- form for edit partecipation -->
    
    <% if Invitation.find_by(event_id: @event.id, user_id: current_user.id) %>
		<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<%= form_for(Invitation.find_by(event_id: @event.id, user_id: current_user.id), remote: true) do |f| %>
			 <%= render 'shared/error_messages', object: f.object %>
				<%= f.label :Will_you_partecipe? %>
				<%= f.select :status,options_for_select([ "I don't know", "Going", "Not Going"]), class: 'form-control' %>  

				<%= hidden_field_tag :event_id, @event.id %> 
				
				<%= f.submit "Save changes", class: "btn btn-primary" %>

			<% end %>

		</div>
		</div>
	<% end %>



<!-- End page content -->
</div>





