<!-- questo file rappresenta il layout di ogni view -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>   
    <!-- full_title è un metodo definito in helpers/application_helper -->   
    <!-- esegue il blocco di yield e il risultato (il titolo) resta dentro al template -->
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>   <!-- il contenuto della specifica view viene convertito in HTML e messo qui -->
  </body>
</html>
