<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "Recipely", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Help", help_path %></li>
				<% if logged_in? %>   <!-- se l'utente è loggato gli compare determinata roba nella homepage -->
					<li><%= link_to "Users", users_path %></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">    <!-- menù a tendina con bootstrap -->
							Account <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profile", current_user %></li>
							<li><%= link_to "Settings", edit_user_path(current_user)%></li>
							<li class="divider"></li>
							<li>
								<%= link_to "Log out", logout_path, method: "delete" %>
							</li>
						</ul>
					</li>
					
         <!-- menu dropdown delle notifiche -->

		<div class="btn-group dropdown dropdown-notifications sw-open">
		  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			  
			<i data-count= <%= current_user.notifications.count %>   class="glyphicon glyphicon-bell notification-icon"></i>
			
			<span class="caret"></span>
		  </button>

		  <div class="dropdown-container">
		   <div class="dropdown-toolbar">
			  <div class="dropdown-toolbar-actions">
				<a href="#"><i class="glyphicon glyphicon-search"></i> View All</a>
			  </div>
			  <h3 class="dropdown-toolbar-title">Recent Notifications  (3)</h3>
			</div><!-- /dropdown-toolbar -->

			<ul class="dropdown-menu notifications">
			<% current_user.notifications.each do |notif| %>
			
			<%= link_to (notif.notified_by) do %>     <!-- tutta la notifica è cliccabile e ti reindirizza al profilo che ti segue -->
			<ul class="notifications">
				  <li class="notification">
					  <div class="media">
						<div class="media-left">
						  <div class="media-object">
							<img class="img-circle"> <%= gravatar_for notif.notified_by, size: 50 %> </img>
						  </div>
						</div>
						<div class="media-body">
						  <strong class="notification-title"><%= notif.notified_by.name %>Started to follow you </strong>
    						  <div class="notification-meta">
							<small class="timestamp"> <%= notif.created_at %> </small>
						  </div>
						</div>
					  </div>
				  </li>
		  </ul>
		  <% end %>  <!-- end del link_to -->
		  
		  
		  <% end %>  <!-- end del ciclo sulle notifiche -->
    </ul>
  </div>
</div>



	
				<% else %>
					<li><%= link_to "Log in", login_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>




    



