<!-- menu dropdown delle notifiche -->

<div class="btn-group dropdown dropdown-notifications sw-open">
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	  
	<i data-count= <%= current_user.notifications.where(read: false).count %>   class="glyphicon glyphicon-bell notification-icon"></i>
	
	<span class="caret"></span>
  </button>

  <div class="dropdown-container">
	   <div class="dropdown-toolbar">
		  <div class="dropdown-toolbar-actions">
			<a href="#"><i class="glyphicon glyphicon-search"></i> <%= link_to "View All" , notifications_path %></a>
		  </div>
			<h3 class="dropdown-toolbar-title"><%= current_user.notifications.where(read: false).count %> Unread Notifications </h3>
		</div><!-- /dropdown-toolbar -->

		<ul class="dropdown-menu notifications">
			<% current_user.notifications.order('created_at DESC').where(read: false).each do |notif| %>   <!-- mostro le notifiche in ordine temporale decrescente e solo quelle non lette -->
			
				
				<% if notif.type_not=="following" %>
					<%= render 'shared/notification_following', :notif => notif %>
				<% elsif notif.type_not=="comment" %>
					<%= render 'shared/notification_comment', :notif => notif %>
				<% else %>  <!-- è un like -->
					<%= render 'shared/notification_like', :notif => notif %>
				<% end %>  <!-- end del ciclo sulle notifiche -->
				
			<%end%>
		</ul>
	</div>
</div>
